.App {
  text-align: center;
}

.navbar{
  border-bottom: 2px solid grey;
  font-size: 2rem;
  display: flex;
 justify-content: space-between;
 align-items: center;
 height:10%;
 margin: 0 3%;
}	  


.dark-mode {
  color: #fff;
  background-color: #485365;
}

.dmBtn{
  padding:.8% 2%;
  border-radius:20px;
  background-color:grey;
  color:#fff;
  font-size: 1rem;
}
.dmBtn:focus{
  outline:none;
}

.cardWrap{
 border:1px solid grey;
 height:200px;
 width:200px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding:2%;
 
}
.outerWrap{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin:3%;


}